# Ignore all files by default
*

# White list only the required files
!app/.env.local
!app/package.json
!app/yarn.lock
!app/firebase.json
!app/firestore.rules
!app/tsconfig.json
!app/next.config.js
!app/.babelrc
!app/typings
!app/reducers
!app/public
!app/pages
!app/lib
!app/components
!app/cluedb

# Explicitly ignore mocks directories
**/__mocks__