# Ignore all files by default
*

# White list only the required files
!app/firebaseConfig.ts
!app/.eslintrc.json
!app/.sentryclirc
!app/sentryConfig.ts
!app/sentry.client.config.ts
!app/sentry.edge.config.ts
!app/sentry.server.config.ts
!app/sentry.properties
!app/package.json
!app/yarn.lock
!app/firebase.json
!app/firestore.rules
!app/tsconfig.json
!app/index.d.ts
!app/next.config.mjs
!app/.babelrc
!app/lingui.config.ts
!app/typings
!app/reducers
!app/public
!app/locales/en/messages.po
!app/locales/es/messages.po
!app/locales/it/messages.po
!app/locales/fr/messages.po
!app/pages
!app/lib
!app/components
!app/cluedb

# Explicitly ignore mocks directories
**/__mocks__