.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app {
  margin: 1em;
}
.current-clue {
  margin-top: 1em;
  padding: 1em;
  background-color: #edf;
}
.clue-label {
  font-weight: bold;
  margin-right: 1em;
}
.grid-row {
  display: flex;
}
.cell {
  position: relative;
  width: 2.2em;
  height: 2.2em;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.cell-label {
  font-size: 0.6em;
  position: absolute;
  left: 0.1em;
  top: 0px;
  font-weight: bold;
}
.cell-top {
  border-top: 1px solid black;
}
.cell-left {
  border-left: 1px solid black;
}
.cell-block {
  background-color: black;
}
.cell-active {
  background-color: #f95;
}
.cell-highlight {
  background-color: #ddd;
}
.cell-value {
  line-height: 1.9em;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
}
