@import "~bootswatch/dist/cosmo/variables";
$primary: $orange;
$grid-gutter-width: 20px;
$lightened: mix($primary, $white, 4 * 8%);
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

html {
  min-height: 100%;
  position: relative;
}
.list-group-item-primary {
  color: black;
  background-color: $lightened;
}
.clue-list-entry {
  flex-shrink: 0;
}
