@value huge-and-up from '../lib/definitions.module.css';
@value max-width from '../lib/definitions.module.css';

.page {
  padding: 2em 1em;
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media (huge-and-up) {
  .page {
    /* stylelint-disable-next-line declaration-property-value-no-unknown */
    max-width: max-width;
    margin: auto;
  }
}

.markdown {
  margin-bottom: 2em;
}

.markdown h2 {
  margin-top: 1em;
}
