.page {
  margin-bottom: 1em;
}
.page p:last-of-type {
  margin-bottom: 0.25em;
}
.page h4 {
  margin-top: 1.5em;
}
.editingWrapper {
  background-color: var(--secondary);
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 1em;
}
.label {
  width: 100%;
  margin: 0;
}
.textarea {
  width: 100%;
  display: block;
  height: 5em;
}
.length {
  text-align: right;
  color: var(--default-text);
}
.length[data-long='true'] {
  color: var(--error);
}
.width50 {
  width: 50%;
}
