.page {
  margin-bottom: 1em;
}

.page p:last-of-type {
  margin-bottom: 0.25em;
}

.page h4 {
  margin-top: 1.5em;
}

.editingWrapper {
  margin-top: 1em;
  padding: 1em;
  background-color: var(--secondary);
  border-radius: 0.5em;
}

.label {
  width: 100%;
  margin: 0;
}

.textarea {
  display: block;
  width: 100%;
  height: 5em;
}

.length {
  color: var(--default-text);
  text-align: right;
}

.length[data-long='true'] {
  color: var(--error);
}

.width50 {
  width: 50%;
}
