@value small-and-up from '../lib/definitions.module.css';

.fillItem {
  width: 100%;
  padding: 0.5em 1em;
  color: var(--text);
  align-items: center;
  height: 35px;
}
.fillItem:hover {
  background-color: var(--bg-hover);
}

.fillListWrapper {
  height: 100% !important;
  position: relative;
  display: none;
}
.fillListWrapper[data-selected='true'] {
  display: block;
}
.fillListHeader {
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  height: 1.5em;
  padding-left: 0.5em;
  display: none;
}
.listParent {
  height: 100%;
}
@media (small-and-up) {
  .fillListWrapper {
    display: block;
  }
  .fillListHeader {
    display: block;
  }
  .listParent {
    height: calc(100% - 1.5em);
  }
}

.entryLength {
  font-weight: normal;
}
.fileInput {
  overflow: hidden;
  max-width: 70vw;
}
.newPuzzleWrapper {
  margin: 1em 2em;
}
.statsHeader {
  margin-top: 1em;
  text-decoration: underline;
  text-align: center;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.squareAndColsWrap {
  flex: 1 1 auto;
  overflow: scroll;
  position: relative;
}
