.table {
  background-color: var(--overlay-inner) !important;
}

/* stylelint-disable-next-line selector-class-pattern */
.table :global(.row-container) {
  cursor: pointer;
}

/* stylelint-disable-next-line selector-class-pattern */
.table :global(.row-container):hover {
  background-color: var(--secondary);
}
