@value small-and-up from '../lib/definitions.module.css';

.item {
  cursor: pointer;

  display: none;

  width: 100%;

  list-style-type: none;

  background-color: var(--bg);
}

.item[data-active='true'],
.item[data-show-entry='true'] {
  display: list-item;
}

.item:hover {
  background-color: var(--bg-hover);
}

.item[data-active='true'],
.item[data-active='true']:hover {
  background-color: var(--lighter);
}

.item[data-refed='true'] {
  background-color: var(--secondary);
}

.item[data-refed='true']:hover {
  background-color: var(--secondary-hover);
}

.outer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  width: 100%;

  border-left: 1em solid transparent;
}

.item[data-cross='true'] .outer {
  border-left: 1em solid var(--lighter);
}

.label {
  display: none;
  flex-shrink: 0;

  width: 2.5em;
  height: 100%;
  padding-right: 0.5em;

  font-weight: bold;
  text-align: right;
}

.item[data-show-entry='true'] .label {
  display: block;
}

.clueText {
  flex: 1 1 auto;
  height: 100%;
  color: var(--text);
}

.item[data-dim='true'] .clueText {
  color: var(--completed-clue);
}

.item[data-conceal='true'] .clueText {
  color: transparent;
  text-shadow: 0 0 1em var(--conceal-text);
}

.clueModeCell {
  display: inline-block;

  min-width: 1em;

  font-weight: bold;
  color: var(--text);
  text-align: center;

  border: 1px solid transparent;
}

.clueModeCell[data-active-cell='true'] {
  border: 1px solid var(--black);
}

.item[data-entering-rebus='true'] .clueModeCell[data-active-cell='true'] {
  border: 1px solid var(--primary);
}

.listWrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100% !important;
}

.listHeader {
  display: none;

  height: 1.5em;
  padding-left: 0.5em;

  font-weight: bold;
  color: var(--readable-primary);
  text-transform: uppercase;
  letter-spacing: 1.36px;

  background-color: var(--bg);
  border-bottom: 1px solid var(--autofill);
}

.list {
  scrollbar-width: none;
  overflow-y: scroll;
  max-height: 100%;
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media (small-and-up) {
  .item {
    display: list-item;
  }

  .outer {
    padding: 0.5em 0.5em 0.5em 0;
  }

  .label {
    display: block;
  }

  .direction {
    display: none;
  }

  .listWrapper {
    display: unset;
    align-items: unset;
  }

  .listHeader {
    display: block;
  }

  .list {
    max-height: calc(100% - 1.5em);
  }
}
