.leftButton {
  margin-right: 0.5em !important;
}

.formWrapper {
  margin-left: 2em;
}

.commentsList {
  margin: 2em 0 0;
  padding: 0;
  list-style-type: none;
}

.repliesList {
  margin: 0 0 0 2em;
  padding: 0;
  list-style-type: none;
}

.constructorTag {
  padding: 0.1em 0.2em;
  border-radius: 5px;

  font-size: 0.75em;
  color: var(--onprimary);

  background-color: var(--primary);
}

.solveTime {
  padding: 0.1em 0.2em;
  border-radius: 5px;

  font-size: 0.75em;
  color: white;

  background-color: #6c757d;
}

.preview {
  margin-top: 1em;
  padding: 1em;
  border-radius: 0.5em;
  background-color: var(--secondary);
}

.publishDate {
  font-style: italic;
}

.commentView {
  margin: 0 -0.5em;
  padding: 0.5em;
}

.actionButton {
  display: inline-flex;
  align-items: center;
  line-height: 1em;
}

.actionButton:hover {
  text-decoration: underline;
}

.actionButton svg {
  margin-right: 0.3em;
  font-size: 0.9em;
}

.actionButtons {
  visibility: hidden;
}

.commentView:hover {
  background-color: rgb(0 0 0 / 8%);
}

.commentView:hover > .actionButtons {
  visibility: visible;
}

.sep {
  margin: 0 0.5em;
}
