.leftButton {
  margin-right: 0.5em !important;
}

.formWrapper {
  margin-left: 2em;
}

.commentsList {
  list-style-type: none;
  margin: 2em 0 0 0;
  padding: 0;
}

.repliesList {
  list-style-type: none;
  margin: 0 0 0 2em;
  padding: 0;
}

.constructorTag {
  font-size: 0.75em;
  background-color: var(--primary);
  color: var(--onprimary);
  border-radius: 5px;
  padding: 0.1em 0.2em;
}

.solveTime {
  font-size: 0.75em;
  background-color: var(--caption);
  color: white;
  border-radius: 5px;
  padding: 0.1em 0.2em;
}

.preview {
  background-color: var(--secondary);
  border-radius: 0.5em;
  padding: 1em;
  margin-top: 1em;
}

.publishDate {
  font-style: italic;
}
