@use '../lib/definitions' as *;

.button {
  display: flex;
  flex: 1 1 0;
  align-items: flex-start;

  padding: 1em;
  border-radius: 0.5em;

  background-color: var(--link-light-bg);
}

.button:hover {
  background-color: var(--link-light-bg-hover);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

@media ($small-and-up) {
  .wrapper[data-half-width='true'] .button {
    width: 100%;
  }

  .wrapper {
    flex-direction: row;
  }

  .wrapper[data-half-width='true'] {
    flex-direction: column;
  }
}

@media ($large-and-up) {
  .wrapper[data-half-width='true'] {
    flex-direction: row;
  }
}

.icon {
  align-self: center;
  margin-right: 0.5em;
  font-size: 2em;
}

.subtext {
  display: inline-block;
  color: var(--text);
  text-decoration: none !important;
}
