.form {
  display: flex;
  flex-wrap: wrap;
}

.textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
}

.input {
  flex: 1 1 auto;
  margin-right: 0.5em;
}

.error {
  margin: auto 0.5em;
  color: var(--error);
}

.text {
  margin: 1em 0;
  padding: 1em;
  background-color: var(--secondary);
  border-radius: 0.5em;
}
