.preview {
  display: flex;
  flex-wrap: wrap;

  padding: 1em;

  color: var(--text);

  background-color: var(--bg);
}

.preview[data-use-custom-font='true'] {
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: CrossharePreview;
}

.darkModeText {
  color: var(--autofill);
}

.darkModeText[data-is-dark='true'] {
  color: var(--text);
}

.grid {
  width: 200px;
  height: 200px;
}

.text {
  width: 200px;
  height: 200px;
  padding: 1em;
}
