@use '../lib/definitions' as *;

.header {
  min-height: 350px;
  padding: 0 0.5em;
  padding-top: 1em;

  color: var(--text);
  text-align: center;

  background-color: var(--primary);
}

.link {
  cursor: pointer;
  text-decoration: none !important;
}

.text {
  font-size: 30px;
  line-height: 1.1em;
}

@media ($small-and-up) {
  .header {
    min-height: 300px;
  }

  .text {
    font-size: 40px;
  }
}

@media ($large-and-up) {
  .header {
    min-height: 250px;
  }
}
