.selectLabel {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.selectLabel:last-child {
  margin-bottom: 0.5em;
}

.icon {
  display: inline-flex;
  margin-right: 0.3em;
  font-size: 2em;
}

.sizeInput {
  width: 5em;
  font-size: 0.75em;
}
