@use '../lib/definitions' as *;

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: none;
  padding-top: 0.5em;
}

@media ($small-and-up) {
  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .col {
    width: 48%;
  }

  .stats[data-is-meta='true'] .col {
    width: 31%;
  }
}

.switcher {
  padding-top: 1em;
  text-align: center;
}

.submissionsList {
  position: relative;
  flex: 1 1 auto;
}

.statsArea {
  position: relative;
  overflow: hidden;
  flex: 1 1 auto;
}
