.bigButton {
  background-color: var(--primary);
  width: 100%;
  color: white;
  height: 85px;
}
.bigButton[data-radius='4'] {
  border-radius: 4px 4px 0 0;
}
.bigButton[data-radius='7'] {
  border-radius: 7px 7px 0 0;
}
.bigButton:hover {
  background-color: var(--slate-primary-hover);
}
