@use '../lib/definitions' as *;

.table {
  background-color: var(--overlay-inner) !important;
}

.row {
  overflow: hidden;
  display: flex;
  height: 75px;
}

.rowClick {
  cursor: pointer;
}

@media ($small-and-up) {
  .row {
    height: 50px;
  }
}

@media ($large-and-up) {
  .row {
    height: 35px;
  }
}

.row:hover {
  background-color: var(--secondary);
}

.headerContent {
  font-weight: bold;
  text-align: left;
}

.content {
  margin: auto;
  text-align: left;
}

.content:first-of-type {
  padding-left: 0.5em;
}

.content:last-of-type {
  padding-right: 0.5em;
}
