@use '../lib/definitions' as *;

.fileInput {
  overflow: hidden;
  max-width: 70vw;
}

.statsHeader {
  margin-top: 1em;
  text-align: center;
  text-decoration: underline;
}

.topBarDropdownSectionHeader {
  width: var(--dropdown-content-width, 300px);
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  font-size: calc($header-height - 20px);
  font-weight: bold;
}

.topBarMoreDropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Spacing between each section */
}
