.fileInput {
  overflow: hidden;
  max-width: 70vw;
}

.statsHeader {
  margin-top: 1em;
  text-align: center;
  text-decoration: underline;
}

.topBarDropdownSectionHeader {
  width: var(--dropdown-col-width);
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;

  font-size: calc(header-height - 20px);
  font-weight: bold;
}

.topBarMoreDropdown {
  --dropdown-col-width: 300px; /* Explicit width so that child content of each button is aligned */

  display: flex;
  flex-direction: column;
  gap: 1rem; /* Spacing between each section */
}
