@use '../../lib/definitions' as *;

.page {
  margin: 1em;
}

@media ($huge-and-up) {
  .page {
    max-width: $max-width;
    margin: 1em auto;
  }
}

.head {
  margin-bottom: 0;
  font-size: 1.4em;
}
